{% extends 'adminlte2/layouts/register.html' %}

{% load adminlte2_tags %}

{% block title %}{% page_title 'Register' %}{% endblock title %}

{% block register_form %}
    <form method="GET">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <div class="text-danger">
                {{ form.non_field_errors }}
            </div>
        {% endif %}
        {% for field in form %}
            <div class="form-group {% if field.errors %}has-error{% endif %}">
                {{ field.label_tag }}
                {% if field.errors %}
                    <div class="text-danger">
                        {{ field.errors }}
                    </div>
                {% endif %}
                {{ field|add_class:'form-control' }}
                {% if field.help_text %}
                    <p class="help-block">{{ field.help_text|safe }}</p>
                {% endif %}
            </div>
        {% endfor %}
        <button class="btn btn-primary" type="submit">Submit</button>
        <button class="btn btn-default" type="reset">Clear</button>
    </form>
{% endblock register_form %}
